{
  "plugins": ["@babel/plugin-transform-classes", "@babel/plugin-transform-runtime"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 2
      }
    ]
  ]
}
