{
  "plugins": ["@babel/plugin-transform-classes"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari > 9", "not ie < 11"]
        },
        "useBuiltIns": "usage"
      }
    ]
  ]
}
