{
  "plugins": [
    // "@babel/plugin-transform-classes",
    ["@babel/plugin-proposal-class-properties", { "proposal": "minimal" }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ]
}
