<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embed Integration Testing Template</title>
    <style>
        html, body, #map {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div
        id="map"
        data-zoom="15"
        data-lng="139.744858"
        data-lat="35.675888"
        data-marker="off"
        data-navigation-control="off"
        data-stage="v1"
        data-lang="ja"
    ></div>
    <script src="%ORIGIN%/v1/embed?geolonia-api-key=%API_KEY%"></script>
    <script>
        const _map = new window.geolonia.Map('#map')
    </script>
</body>
</html>
