.geolonia-clickable-marker {
  cursor: pointer;
}

/* Make fullscreen mode works with ie11 */
.geolonia:-ms-fullscreen {
  width: 100%;
  height: 100%;
}

/**
 * Styles for loading effect.
 */
.loading-geolonia-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  display: flex;
}

.loading-geolonia-map .lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-geolonia-map .lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #999999;
  animation: lds-grid 1.2s linear infinite;
}

.loading-geolonia-map .lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}

.loading-geolonia-map .lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}

.loading-geolonia-map .lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}

.loading-geolonia-map .lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}

.loading-geolonia-map .lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}

.loading-geolonia-map .lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}

.loading-geolonia-map .lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}

.loading-geolonia-map .lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}

.loading-geolonia-map .lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Style for restricted mode */
.geolonia__restricted-mode-image-container {
  background-image: url("https://geolonia.github.io/embed/restricted.jpg");
  background-position: center center;
  background-size: cover;
}

/* CSS for Attribution */
/* Fix: https://github.com/geolonia/embed/issues/291 */
.maplibregl-map {
  display: block!important;
}

.maplibregl-ctrl-attrib-inner {
  display: block!important;
}

.maplibregl-ctrl-attrib.maplibregl-compact .maplibregl-ctrl-attrib-inner {
  display: none!important;
}

.maplibregl-ctrl-attrib.maplibregl-compact-show .maplibregl-ctrl-attrib-inner,
.maplibregl-ctrl-attrib.maplibregl-compact .maplibregl-ctrl-attrib-button {
  display: block!important;
}
/* End: CSS for Attribution */

@media print {
  .maplibregl-control-container button {
    display: none;
  }
}
